.containerSalarioMensal{
  position: fixed;
  top: 60%;
  left: 55%;
  transform: translate(-50%,-50%);
  justify-content: center;
  background-color: var(--menuOpitionSide);
  color: var(--corFonte);
  padding: 50px;
  border-radius: 25px;
  align-items: center;
  z-index: 1;
}
.containerSalarioMensal h1{
  font-size: 20pt;
}
.containerSalarioMensal form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}
.containerSalarioMensal input{
  width: 350px;
  height: 30px;
  border-radius: 25px;
  border: none;
}
.containerSalarioMensal .containerSubmit{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerSalarioMensal #btn{
  width: 150px;
  background-color: var(--corFonte);
  height: 50px;
  color: var(--background);
}
.containerSalarioMensal #btn:hover{
    background-color : rgb(145, 241, 0);
  
  }

 @media (max-width:1000px) {
  .containerSalarioMensal{
    left: 65%;
  }
  .containerSalarioMensal form{
    height: 450px;  
    width: 310px;
    justify-content: center;
    align-items: start;
  }
  .containerSalarioMensal .containerSubmit{
    margin-top: 15px;
    justify-content: space-around;
    width: 100%;
  }
  .containerSalarioMensal input{
    padding: 5px;
    width: 300px;
  }
  
 }

 @media (max-width:750px) {
   .containerSalarioMensal{
    left: 69%;
    display: flex;
  }
  .containerSalarioMensal h1{
    font-size: 15pt;
    margin-bottom: 15px;
  }
  .containerSalarioMensal form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    gap: 10px;
  }
  .containerSalarioMensal input{
    width: 100%;
  }
  .containerSalarioMensal{
    width: 50%;
  }
  .containerSalarioMensal .containerSubmit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .containerSalarioMensal #btn{
    width: 90px;
  }
 }