.containerSalarioMensal{
  position: fixed;
  top: 60%;
  left: 60%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.containerSalarioMensal h1{
  font-size: 20pt;
}
.containerSalarioMensal form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
}

.containerSalarioMensal input{
  width: 350px;
  height: 30px;
  border: none;
  border-radius: 25px;
}
.containerSalarioMensal .containerSubmit{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.containerSalarioMensal #btn{
  width: 150px;
  height: 50px;
  background-color: var(--corbtn-background);
  color: var(--background);
}
.containerSalarioMensal #btn:hover{
  background-color : rgb(145, 241, 0);

}
@media(max-width:1000px){
.containerSalarioMensal form{
  width: 300px;
  height: 350px;
  margin-bottom: 50px;
  transition: 0.5s;
 

  }
  .containerSalarioMensal input{
    padding: 5px;
  }
  .containerSalarioMensal h1{
    
  }
}