.containerloja{
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 500px;
    width: 400px;
    background-color: aliceblue;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 5px;
}
.containerloja img{
    height: 400px;
}