.container-product{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
}
.container-product p{
    color: #fff;
    text-align: center;
    font-size: 20pt;
    margin: 25px;
    background-color: rgba(0, 0, 0, 0.534);
    width: 100vw ;

}