.container-box #img{
  height: 7em;
}

.container-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 50px;
  box-shadow: 5px 5px 5px rgb(105, 102, 102);
  z-index: 2;
}
