.container__Agenda{
  position: fixed;
  top: 60%;
  left:62%;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.container__Agenda h2{
  color: var(--corbtn-background);
  margin-bottom: 25px;
}
.calendar {
  font-family: Arial, sans-serif;
  width: 100%;
  border-collapse: collapse;
  color: var(--corbtn-background);
}

.calendar th, .calendar td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px;

}

.calendar th {
  background-color: #f2f2f2;
  color: var(--background);
}

.calendar td {
  cursor: pointer;
}

.calendar td:hover {
  background-color: #f0f0f0;
}

@media(max-width:860px) {
  .container__Agenda{
    top: 	70%;
    left: 71%;
    transition: 0.5s;
 
  }
.calendar{

  height: 50px;
  width: 50px;
}
.calendar tr{
  font-size: 9pt;
}
.calendar th{
  padding: 2px;
  font-size: 9pt;

}
}
@media(max-width:740px){
  .container__Agenda{
    top: 	70%;
    left: 70%;
    transition: 0.5s;
 
  }
  .calendar tr{
 font-size: 8pt;
  }
  .calendar th{
    padding: 2px;
    font-size: 8pt;
  
  }

}
