.campo__Selecionado{
  position: fixed;
  top: 60%;
  left: 60%;
  transform: translate(-50%,-50%);
  height: 80%;
  width: 60%;
  background: rgb(50, 45, 45);
  border-radius: 25px;
  z-index: 1;
  margin-left: 2% ;
}
.campo__Selecionado #closePage{
 
  border:none;
}

