.estoque-container {
  position: fixed;
  display: flex;
  top: 30%;
  left: 50%;
  width: 500px;
  transform: translate(-50%-50%);
  z-index: 2;
  color: rgb(249, 221, 10) ;
}
.estoque-container form{
  display: flex;
  flex-direction: column;
  width: 60%;
}
#description{
  margin-top: 5px;
  height: 100px;
}
.estoque-container .content-btn{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;

}


