
.content-home{
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 500px;

}
.container-p{
    display: flex;
    justify-content: center;
    background-image: url("./public/gestao-de-contratos-rtcount.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    flex-direction: column;
    font-size: 2rem;
    margin: 0 auto;
    height: 500px;
    width: 1000px;
    color: #fff;
    gap: 25px;
    text-shadow: 2px 2px 5px black;
}
.container-p .item-saiba-mais{
    padding:5px 15px;
    color: #fff;
    border-radius: 5px;
    background-color: brown;
    margin-left: 50px;
}

.container-p #text{
    margin-left: 50px;
}

@media (max-width:1000px) {
    .container-p{
        background-position-x: center;
        height: 300px;
        font-size: 15pt;
        
    }
    .container-p #text{
        margin-left: 10px;
    }
    .container-p .item-saiba-mais{
     
        margin-left:10px;
    }
    
}

@media (max-width:400px) {
    .container-p{
        background-position-x: center;
        height: 300px;
        font-size: 10pt;
        
    }
    
    .container-p .item-saiba-mais{
        
        font-size: 7pt;
    
    }
    
}

.container-empresas-confiança {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 15pt;
}
@media (max-width:800px) {
    
.container-empresas-confiança {
   
    font-size: 9pt;
}
    
}

.container-empresas-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    }
    .container-img{
        height: 150px;
        overflow: hidden;
        display: flex;
        justify-content: center;
       
    }
    .container-img #img-2,#img-3 {
  
        height: 110px;
        width: 100px;

    }
    .container-img #img-1{
        height: 100px;
        width: 120px;
    }

.container-empresas-confiança{
    color: brown;

}
.footer-home{
    display: flex;
    height: 150px;
    background-color: rgb(54, 49, 49);
    justify-content: space-around;
    color: #fff;
    align-items: center;
}

.container-logo-footer{
    display: flex;
    align-self: center;
    margin-left: 50px;
}