.content-header{
    display: flex;
    flex-wrap: wrap;
    background-color:var(--background);
    align-items: center;
    
}
.content-head{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px;
    align-items: center;
    margin: 0 auto;
    width: 1000px;
    background-color:var(--background);
    gap: 10px;
    
}

.content-head .item{
    color: black;
    font-weight: 500;
    
    padding: 10px 5px;
    
}
.content-head .item-Faca-orcamento{
    background-color: brown;
    padding: 10px 25px;
    border-radius: 5px;
    color: #fff;
    
  
}

@media (max-width:740px) {
    .content-head{
        font-size: 10pt;
        
    }
    #logo{
       height: 40px;
     
    }
 
    
}

@media(max-width:550px){
    .item-Faca-orcamento , .item{
       display: none;
        
    }

    .container-hamburger{
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 5px;
        border: 2px solid;
        gap: 5px;
    }
    #barra1,#barra2,#barra3{
        width:30px;
        height: 2px;
        background-color: black;
        
    }
    .container-hamburger:after{
        content: "";
        position: absolute;
        background-color: red;
        margin: 0;
        top: 0;
        height: 5px;
        width: 5px;
    }
    
}

.container-hamburger:hover:after{
    animation: hamburgerMove 3000ms ease forwards ;
    cursor: pointer;

}








@keyframes hamburgerMove {
    0%{
          transform: translateX(0);
        }   
    25%{
            
            transform: translateX(30px);
        }
    50%{
        transform: translateY(30px);
    }
    75%{

        transform: translateY(0px);
    }
      
  
}