.content-header{
    display: flex;
    flex-wrap: wrap;
    background-color:var(--background);
    align-items: center;
    
}
.content-head{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    width: 1000px;
    background-color:var(--background);
    gap: 10px;
    
}

.content-head .item{
    color: black;
    font-weight: 500;
    
    padding: 10px 5px;
    
}
.content-head .item-Faca-orcamento{
    background-color: brown;
    padding: 10px 25px;
    border-radius: 5px;
    color: #fff;
    
  
}

@media (max-width:740px) {
    .content-head{
        font-size: 10pt;
        
    }
    #logo{
       height: 40px;
     
    }
 
    
}