.container-center{
    width: 100vw;
    background-color: var(--background);
    

}


.container-header{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    
}
.content-header{
    display: flex;
    gap: 20px;
    

}
.active{
    text-decoration: none;
}

.item{
    padding: 5px ;
    position: relative;
   
}

.item::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background: black;
}

.item:hover::after{
    margin-left: 5px;
    animation: btnNav 500ms ease forwards;
}

@keyframes btnNav {
    from{
        width: 0%;
    }
    to{
        width: 90%;
    }

    
}



.cadastro{
     display: flex;
     background-color:rgb(190, 49, 13);
     border-radius: 5px;
     color: #fff; 
     box-shadow: 1px 1px 5px black;
}

.cadastro:hover {
    background-color: rgb(73, 110, 27);
   
}

@media(max-width:1000px){
    .container-header{
        width: 500px;
    }
}

@media(max-width:500px){
    .container-header{
        display: flex;
        gap: 10px;
        width: auto;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        padding: 20px 0;
    }

    .content-header{
        display: flex;
        width:500px ;
        justify-content: center;
    }

}

#icon{
position: absolute;
left: 0;
margin-left: 25px;
height: 40px;
}