.footer-main{
    display: flex;
    padding: 120px;
    background-color: rgb(41, 5, 5);
    color: #fff;

   
    
}
.footer-main .content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1000px;
    
    
}
#img-whats{
    padding: 10px;
    height: 30px;
}

.textCompany{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.servicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.redeSociais{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 10px;
}
@media (max-width:1080px) {
    .footer-main .content{
       font-size: 12pt;
    }
    .content .logo{
        display: none;
    }
}
@media (max-width:980px) {
    .footer-main .content{
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
       align-items: start;

    }
    .textCompany , .servicos{
        padding: 14px;
        align-items: center;
    }
}