.decimoTerceiroContainer{
  position: fixed;
  top: 60%;
  left: 60%;
  transform: translate(-50%,-50%);
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.decimoTerceiroContainer h1{
  font-size: 20pt;
}
.decimoTerceiroContainer form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}
.decimoTerceiroContainer input{
  width: 350px;
  height: 30px;
  border-radius: 25px;
  border: none;
}
.decimoTerceiroContainer .container-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.decimoTerceiroContainer #btn{
  width: 150px;
  height: 50px;
  background-color: var(--corbtn-background);
  color: var(--background);
}
.decimoTerceiroContainer #btn:hover{
    background-color : rgb(145, 241, 0);
  
  }

  @media(max-width:860px){
    .decimoTerceiroContainer form{
      justify-content: center;
      margin-left: 100px;
      margin-top: 50px;
    }
    .decimoTerceiroContainer input{
      width: 250px;
      transition: 0.5s;
    }
  }
  @media(max-width:600px){
    .decimoTerceiroContainer form{
      justify-content: center;
      width: 200px;
      margin-left: 100px;
      margin-top: 1px;
      gap: 15px;
    }
    .decimoTerceiroContainer input{
      width: 200px;
      transition: 0.5s;
    }
    .decimoTerceiroContainer h1 {
      font-size: 15pt;
      margin-left: 35px;
      margin-top: 25px;
    }
    .decimoTerceiroContainer label{
      font-size: 7pt;
    }
    .decimoTerceiroContainer .container-btn{
      width: 170px;
      gap: 15px;
      margin-bottom: 35px;
    }
    .decimoTerceiroContainer #btn{
      width: 100px;
    }
  }