.horaExtraSelecionada{
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 30%;
  left: 40%;
  gap: 50px;
  height: 250px;
  width: 650px;
  justify-content: center;
  align-items: center;
}

.horaExtraSelecionada form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  margin-bottom: 30px;
}
.horaExtraSelecionada .container-form-btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}
.horaExtraSelecionada #btn{
  padding: 5px 15px;
  border-radius: 5px;
  color:  rgb(249, 221, 10);
  background-color: rgba(0, 0, 0, 0.195);
  box-shadow: 5px 5px 10px black;
  border: none;
}
.horaExtraSelecionada input{
  border-radius: 25px;
  border: none;
  padding: 5px;
}

