.horaExtraSelecionada{
  position: fixed;
  top: 60%;
  left: 60%;
  transform: translate(-50%,-50%);
  text-align: start;
  z-index: 2;
}
.horaExtraSelecionada h1{
  margin-bottom: 25px;
}
.horaExtraSelecionada form{

  display: flex;
  justify-content: center;
  text-align: start;
  width: 100%;
  flex-direction: column  ;
  gap: 20px;
}
.horaExtraSelecionada input{
  width: 350px;
  height: 30px;
  border-radius: 25px;
  border: none;

}
.horaExtraSelecionada label{
  color: #fff;
}
.horaExtraSelecionada #btn{
  width: 150px;
  height: 50px;
  background-color:var(--corbtn-background) ;
  color:var(--background);
  font-size: 10pt;
}

.horaExtraSelecionada .container-form-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}
.horaExtraSelecionada #btn:hover{
 background-color: rgb(145, 241, 0);
}

@media(max-width:860px){
  .horaExtraSelecionada form {

    justify-content: center;
      margin-left: 100px;
      margin-top: 50px;
      gap: 10px;
      margin-bottom: 10px;
  }
  .horaExtraSelecionada input{
    width: 250px;
    transition: 0.5s;
  }
  .horaExtraSelecionada h1{
    margin-left: 100px;
    margin-top: 12px;
    transition: 0.5s;
    margin-bottom: -25px;
  }
  .horaExtraSelecionada .container-form-btn{
    
    width: 250px;
     
  }
}

@media(max-width:600px){
  .horaExtraSelecionada form {

    justify-content: center;
      margin-left: 150px;
      margin-top: 50px;
      gap: 10px;
      margin-bottom: 10px;
  }
  .horaExtraSelecionada input{
    width: 190px;
    transition: 0.5s;
  }
  .horaExtraSelecionada h1{
    margin-left: 190px;
    font-size: 15pt;
    margin-top: 10px;
    transition: 0.5s;

  }
  .horaExtraSelecionada .container-form-btn{

    width: 180px;
    margin-right: 55px;
     
  }
  .horaExtraSelecionada #btn{
    width: 100px;
  }
}
