.container__box__left{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--menuOpitionSide);
  width: 50px;
  box-shadow: 1px 1px 5px black;
 position: absolute;
 transition: 0.5s;
 cursor: pointer;
}
/*Variavel global Logo*/
.container-img{
  display: none;
}
.menuMais__Logo{
  display: flex;
  height: 40px;
  margin-bottom: 150px;
}

.textContent{
  display: flex;
  color: var(--menuOpitionSide);
  font-size: 10pt;
  flex-direction: column;  
  margin-right: 25px;
}


 .container__box__left:hover{
  width: 180px;
  transition: 0.5s;
  .menuMais__Logo{
    display: none; 
  }
  .textContent{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 120px;
    color: var(--corFonte);
    transition: 0.5s;
    text-align: center;
  }
  .container_menuEmpresa_logo{
    display: flex;
    height: 100vh;
  }
  .container-img{
    display: flex;
    margin-top: 150px;
  }

}
@media (max-width:450px) {
  .container__box__left:hover{
    width: 130px;
    font-size: 7pt;
    text-align: center;
    
  }
  .container-img{
    height: 100px;
    margin-bottom: 90px;
  }
  .textContent{
    display: flex;
    font-size: 9pt;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 10px;
    
 }

}

