.container__box__left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  background-color: var(--menuOpitionSide);
  height: 100vh;
  transition: 0.5s;
  width: 30px;
  box-shadow: 10px 10px 10px black;
  color: var(--menuOpitionSide);
  z-index: 999;
}
@media (max-width:1000px) {
    .container__box__left{
     width: 250px;
    }
}
@media (max-width:680px) {
    .container__box__left{
     width: 200px;
     font-size: 9pt;
    }
    
}
@media(max-width:510px) {
  .container__box__left{

    width: 150px;
    font-size: 8pt;
  }
}

.container__box__left:hover{
  width: 300px;
  cursor: pointer;
  color: var(--corFonte);
  transition: 0.5s;
}