.decimoTerceiroContainer{
  position: fixed;
  top: 60%;
  left: 55%;
  transform: translate(-50%,-50%);
  justify-content: center;
  background-color: var(--menuOpitionSide);
  color: var(--corFonte);
  padding: 50px;
  border-radius: 25px;
  align-items: center;
  z-index: 1;
}
.decimoTerceiroContainer h1{
  font-size: 20pt;
}
.decimoTerceiroContainer form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}
.decimoTerceiroContainer input{
  width: 350px;
  height: 30px;
  border-radius: 25px;
  border: none;
}
.decimoTerceiroContainer .container-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.decimoTerceiroContainer #btn{
  width: 150px;
  background-color: var(--corFonte);
  height: 50px;
  color: var(--background);
}
.decimoTerceiroContainer #btn:hover{
    background-color : rgb(145, 241, 0);
  
  }

 @media (max-width:920px) {
  .decimoTerceiroContainer{
    left: 65%;
    height: 500px;  
    width: 500px;
  }
  .decimoTerceiroContainer .container-btn{
    margin-top: 15px;
  }
  
 }