.container-Servico{
    display: flex;
 
    align-items: center;
    border: 2px solid;
    height:100vh;
    width: 100vw;
}
.carrocel{
    display: flex;
    justify-content: start;
    height: 500px;
    width: 800px;
  
    margin: 0 auto;


}
@keyframes scrollImg {
    0% {
      transform: translateX(-100%);
    }
    25% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-300%);
    }
    75% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  

.conteudo-servico{
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}


.container-servico1,.container-servico2, .container-servico3, .container-servico4, .container-servico5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    height:600px;
    width:700px;
    animation:  scrollImg ease infinite 12000ms;
}

#img-servico1,#img-servico2,#img-servico3,#img-servico4,#img-servico5{
height: 400px;
width: 700px;
}

#paragrafo-servico{
    color: #fff;
    font-size: 1.5rem;
} 
#linha{
    margin: 0 auto;
    width: 500px;
}