*{
  margin: 0;
  padding: 0;
}
.side__box__container{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  align-items: center;
  height: 100vh;
  width: 20%;
  gap: 50px;
  color: rgb(249, 221, 10) ;
  background-color: rgb(53, 48, 48);
  z-index: 1;
}
.menuAbove__container{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  background-color: rgb(249, 221, 10);
  width: 100%;
  
}
.side__box__container p:hover {
  cursor: pointer;
  transition: 0.2s;
  scale:1.2;
}
.menuAbove__container:hover{
  cursor: pointer;
}