.App {
  display: grid;
  grid-template-columns: repeat(6, 2fr) ;
  width: 100%;
  height: 100vh;
}
.menuAbove__container{
  position:fixed;
  display: grid;
  grid-template-columns: repeat(7, 2fr);
  justify-content: space-between;
  align-items: center;
  grid-area: 1/2;
  height: 90px;
  width: 100%;
  background-color:var(--corbtn-background);
  box-shadow: 0 0 15px black;
}
#img{
  height: 150px;
  z-index: 1;
}
.side__box__container{
  position: fixed;
  display: flex;
  height: 100%;
  width: 250px;
  justify-content: center;
  align-items: center;
  grid-area: 1/1;
  box-shadow: 0 0 15px black;
  background: var(--background);

}

@media(max-width:860px){
  
    .side__box__container{
      width: 200px;
      transition: 0.5s;
    }
    .side__box__container p{
      
    }
  }
 

