:root{
  --corFonte: rgb(249, 221, 10);
  --background: rgb(109, 23, 3) ;;
  --boxContainer: rgb(237, 183, 4);
  --menuOpitionSide:rgb(48, 46, 37);
}
html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
  display: flex;
  justify-content: start;
  align-items: center;
  background-color:var(--planoDeFundo);
}
p:hover{
 scale:1.1;
 transition: 0.5s;
 cursor: pointer;
}
label{
  text-align: start;
 }