.container__planoDeFundo{
  width:250px;
  height: 100vh;
  box-shadow:  0 10px 15px black;
  color: var(--corFonte);
  justify-content: space-around;
  background-color: var(--menuOpitionSide);

}
.container__planoDeFundo .container__lateral{
display: flex;
flex-direction: column;
justify-content:center;
align-items: start;
row-gap: 35px;
width: 100%;
font-size: 10pt;


}

.container__planoDeFundo .container__topo{
  display: flex;
  flex-direction: row;
  width:  100%;
  background-color: red;
  z-index: 2;
}