.container_Exercicio_Laboral{
  position: fixed;
  top: 30%;
  left: 30%;
  transform: translate(-50% 50%);
  height: 60%;
  width: 60%;
  background-color: var(--menuOpitionSide);
  z-index: 2;
  border-radius: 25px 25px 0 0;

  
}
.container_Exercicio_Laboral video{
  width: 100%;
  border-radius: 25px;
  height: 100%;

}
.closePageContainer{
  margin: 10px;
}